<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<html>
<body>
<div>
  <table border="1">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}"
        th:style="'font-weight:bold;'">
      <td th:text="${user.getId}"></td>
      <td th:text="${user.getName}"></td>
      <td th:text="${user.getEmail}"></td>
    </tr>
    </tbody>
  </table>
  <!--    <th:block th:each="car : ${carList}">-->
  <!--        <h1 th:text="${car}"></h1>-->
  <!--    </th:block>-->
</div>

</body>
</html>